/* Variables */
$White-color: #fff;
$red-color: #F72D5F;
$blue-color: #28A8FC;
$green-color: #00D2D2;
$Violet-color: #7F18FF; 
$darckBlue-color: #24008C;
$yellow-color: #F7A22D;
$darck-color: #404B5C;
$Light-color: #F2F7FB;